<h1><%= @department.name %> - <%= @item.name %></h1>
<p><%= @item.body %></p>
<%= link_to 'Edit Item', edit_sub_item_path([@department, @item]) %>
<%= link_to 'Delete Item', [@department, @item], mehtod: :delete %>
<%= link_to 'Back to Items', department_items_path(@department) %>
